{% extends "base.html" %}
{% block start %}
    <h1>This is Index Page</h1>


    <!-- <a href="/contact/">
      contact
    </a>
    |
    <a href="/about/">
      about
    </a> 
    |
    <a href="/recipes/">
      recipes
    </a> -->



    <!-- <table class="container">
        <tr>
          <th>s.no</th>
          <th>name</th>
          <th>age</th>
          <th>canvote</th>
        </tr>
        {% for people in peoples %}
        <tr>
          <td>{{people.sn}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td>{% if people.age > 20%}
            ✅
            {% else %}
            ⛔
            {% endif %}
          </td>

        </tr>
        {% endfor %}
       
      </table>
       {{vegetables}}
       <p>{{text|truncatechars:80}}</p> -->



{% endblock %}